.header h1{
    text-align: center;
    margin-top: 50; 
}

.table{
 
    margin: 100 200;
}
.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 7px;
    word-break:normal;
}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 7px;
    word-break:normal;
}
.tg .tg-nmgu{background-color:#ffffff;border-color:#c0c0c0;text-align:left;vertical-align:middle}
.tg .tg-81ec{background-color:#ffffff;border-color:#c0c0c0;text-align:center;vertical-align:top}
.tg .tg-50j8{background-color:#ffffff;border-color:#c0c0c0;text-align:center;vertical-align:middle}
.tg .tg-855q{background-color:#ffffff;border-color:#c0c0c0;text-align:left;vertical-align:top}